.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-size: 0.8rem;
    width: 60px;
    color: #555;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 4px;
    left: -20px;
    line-height: 1.3;
    user-select: none;
  }
  